/* colors: 
header yellow: #edc639
signout green: #27d67b
purple: #7249d1
red from svg: #FF3501

*/
/*
FONTS:  
drawer/info: 
font-family: 'Arimo', sans-serif;
text: 
font-family: 'Exo', sans-serif; 
*/

/* React IMPORTS
import React, { useState } from "react";
import styled from "styled-components";
import {device} from "../../resources/mediaquery" 
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
html {
  background-color: #333;
}
body {
  /* height: fit-content; */
  /* min-height: 100vh; */
  width: 100%;
  height: 100%;
  font-family: "Exo", sans-serif;
  background-color: #fff;
}
